@model AdminUIBrandViewModel

@{
    ViewData["Title"] = "Araç Markaları";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Marka Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Araç Markaları ile ilgili ekleme, güncelleme ve silme işlemlerini bu ekran üzerinden yapabilirsiniz!
                        </p>
                        <div class="table-responsive">

                            <a class="btn btn-primary mb-4" href="/admin/brand/create">
                                <i class="fa fa-plus" aria-hidden="true"></i> Yeni Araç Markası Ekle
                            </a>
                            <div class="row">
                                <div class="col-xl-6">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Marka</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var brandItem in Model.ResultDatas)
                                            {
                                                <tr>
                                                    <td>@brandItem.BrandName</td>
                                                    <td style="text-align: end">
                                                        <a class="btn btn-info" href="/admin/brand/detail?id=@brandItem.BrandID" title="Markaya Ait Araçlar">
                                                            <i class="fa fa-car fa-lg" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btn btn-danger" href="/admin/brand/delete?id=@brandItem.BrandID" title="Sil">
                                                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btn btn-warning" href="/admin/brand/update?id=@brandItem.BrandID" title="Güncelle">
                                                            <i class="fa fa-pen fa-lg" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>