@model AdminUIFooterAddressViewModel

@{
    ViewData["Title"] = "İletişim ve Footer Alanı Adres Bilgisi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">İletişim ve Footer Alanı Adres Bilgisi</h4>
                        @if (Model.ResultDatas.Count() > 0)
                        {
                            <p class="card-subtitle mb-4">
                                İletişim ve Footer Alanı Adres Bilgilerini Bu Ekrandan Güncelleyebilir, Silebilir Veya Yeni İletişim ve Footer Alanı Adres Bilgisi Ekleyebilirsiniz.
                            </p>
                        }
                        else
                        {
                            <p class="card-subtitle mb-4">
                                Kayıtlı Bir İletişim ve Footer Alanı Adres Bilgisi Henüz Bulunmuyor.
                                Yeni Ekle Butonuna Tıklayarak Yeni Bir İletişim ve Footer Alanı Adres Bilgisi Ekleyebilirisniz!
                            </p>
                        }

                        <div class="table-responsive">
                            @if (Model.ResultDatas.Count() < 1)
                            {
                                <a class="btn btn-primary mb-4" href="/admin/footeraddress/create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Yeni İletişim Bilgisi Ekle
                                </a>
                            }
                            else
                            {
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Adres</th>
                                            <th>Telefon</th>
                                            <th>E-Posta</th>
                                            <th>Açıklama</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var footerAddressItem in Model.ResultDatas)
                                        {
                                            <tr>
                                                <td>@footerAddressItem.Address</td>
                                                <td>@footerAddressItem.Phone</td>
                                                <td>@footerAddressItem.Email</td>
                                                <td>@footerAddressItem.Description</td>
                                                <td>
                                                    <a class="btn btn-danger" href="/admin/footeraddress/delete?id=@footerAddressItem.FooterAddressID" title="Sil">
                                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="btn btn-warning" href="/admin/footeraddress/update?id=@footerAddressItem.FooterAddressID" title="Güncelle">
                                                        <i class="fa fa-pen fa-lg" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>