@model BlogUIViewModel

<h2 class="mb-3">@Model.BlogByIdData.Title</h2>
<p>@Model.BlogByIdData.Description</p>
<p>
    <img src="@Model.BlogByIdData.CoverImageUrl" alt="blog-image" class="img-fluid">
</p>