@model AdminUILocationViewModel

@{
    ViewData["Title"] = "Lokasyon Bilgisi Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Lokasyon Bilgisi Güncelleme</h4>
                        <p class="card-subtitle mb-4">
                            Lokasyon Bilgisi Alanı İçin Bilgileri Bu Ekrandan Güncelleyebilirsiniz!
                        </p>

                        <form id="UpdateLocationForm" asp-area="Admin" asp-controller="AdminLocation" asp-action="UpdateLocation" method="post">
                            @Html.HiddenFor(x => x.UpdateData.LocationID)
                            <div class="row">
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.UpdateData.LocationName">Lokasyon Adı</label>
                                    <input asp-for="@Model.UpdateData.LocationName" class="form-control mb-3" placeholder="Lokasyon Adı"></input>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                Güncelle
                                <i class="mdi mdi-update ml-1"></i>
                            </button>
                            <a class="btn btn-danger mi-2" href="/admin/location">
                                Vazgeç
                                <i class="mdi mdi-marker-cancel ml-1"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>